:root {
    --primary-color: #55C0CF;
    --primary-color-dark: #25C7BD;
    --secondary-color: #FFDC5D;
    --light: #fff;
    --dark: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Acessibilidade - Por isso deixamos em % ao ínves de PX  */
    @media (max-width: 1080px) {
        html {

            font-size: 93.75%; /*15px*/
        }
    }

    @media (max-width: 720px) {
        html {

            font-size: 87.5%; /* 14px*/
        }
    }

body {
    font-family: 'Nunito', sans-serif;
    background: var(--primary-color);
}

button, input, textarea {
    font-family: 'Nunito', sans-serif;
}

#app {
    background: var(--primary-color);
    /* background: rgb(170, 170, 170); */
    position: relative;
    max-width: 540px;
    padding: 20px 20px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
}

.player-1 h1 {
    color: var(--light);
}

.player-2 h1 {
    color: var(--secondary-color)
}

header .player-infor {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    z-index: 10;
}


.player-1::after {
    content: 'X';
    position: absolute;
    top: -180px;
    left: 0;
    z-index: 1;
    font-weight: bold;
    font-size: 20rem;
    line-height: 40rem;
    color: var(--light);
    opacity: .06;
}

.player-2::after {
    content: 'O';
    position: absolute;
    top: -180px;
    right: 0;
    z-index: 1;
    font-weight: bold;
    font-size: 20rem;
    line-height: 40rem;
    color: var(--light);
    opacity: .06;
}

.player-infor .img-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
}
.img-container img{
    width:70px;
    height: 70px;
}

.player-1 .img-container {
    border-color: var(--primary-color-dark);
}
.player-2 .img-container {
    border-color: var(--secondary-color)
}

.img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
}

.personal {
    margin-left: 1rem;
}

.personal .name,
.personal .nickname {
    font-size: 1.24rem;
    font-weight: bold;
    line-height: 1.28rem;
}

.personal .name {
    color: var(--dark);
}

.personal .nickname {
    color: var(--light);
}

#container {
    width: 100%;
    margin-top: 8rem;
}

.game {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    background: var(--light);
    gap: 16px;
}

.game div {
    background: var(--primary-color);
    position: relative;
}

.game button {
    display: block;
    position: relative;
    width: 100%;
    height: 140px;
    background: transparent;
    cursor: pointer;
    font-size: 5rem;
    font-weight: 600;
    border: none;
    z-index: 5;
}

.game button::after {
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .18;
    color: var(--light);
    font-weight: 600;
    font-size: 6rem;
    
}

.game button.top-left::after {
    content: '1';

}

.game button.top-center::after {
    content: '2';
}

.game button.top-right::after {
    content: '3';
}

.game button.center-left::after {
    content: '4';
}

.game button.center-center::after {
    content: '5';
}

.game button.center-right::after {
    content: '6';
}

.game button.bottom-left::after {
    content: '7';
}

.game button.bottom-center::after {
    content: '8';
}

.game button.bottom-right::after {
    content: '9';
}

.game button.x {
    color: var(--dark);
}

.game button.o {
    color: var(--secondary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
}

.hashtag h2 {
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--light);
}

.next p {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: var(--secondary-color);
}

.next span {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin-left: 1rem;
}


div.modalOverlay {
    display: none;
}

div.modalOverlay.-active {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.modal h1 {
    font-size: 3rem;
    color:  var(--secondary-color);
}

.modal a {
    display: block;
    width: 260px;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 60px;
    line-height: 3.7rem;
    padding: .6rem 0;
    font-weight: 600;
    color: var(--light);
    cursor: pointer;
    background-color: var(--primary-color);
}

.modal span.player-1 {
    color: var(--light)
}

.modal span.player-2 {
    color: var(--secondary-color)
}


@media (max-width: 450px) {
    .game {
        gap: 9px;
    }

    .game button {
        width: 100%;
        height: 110px;
    }
}


@media (max-width: 390px) {
    html {
        font-size: 12px;
    }
    
    .game {
        gap: 12px;
    }
    
    .game button {
        width: 100%;
        height: 110px;
    }
}

@media (max-width: 360px) {
    header {
        flex-direction: column;   
    }

    .player-1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .player-2 {
        text-align: center;
    }

    header .player-infor {
        justify-content: center;
    }

    .game {
        gap: 8px;
    }
    .game button {
        height: 90px;
    }

    .player-1::after {
        top: 0;
    }
    
    .player-2::after {
        top: 0;
    }
}